#g{
  position: relative;
  z-index: 1;
}
.steps{
  list-style: none;
}

.step{
  display: inline-block;
  padding: 0 35px;
}

.step .done{
  display: none;
}

.step_icon{
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
}

.step_icon.not_done{
  color: black;
  border: 4px solid black;
  border-radius: 25px;
  line-height: 39px;
  font-size: 30px;
  font-weight: 600;
}

.step.done .not_done{
  display: none;
}

.step.done .done{
  display: inline-block;
}

.checkmark {
  stroke: green;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  animation: dash 2s ease-out forwards 1;
}

.step_form{
  display: none;
  height: 250px;
}

.step_form.active{
  display: block;
}

.userForm{
  display: none;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#h2 .logo{
  position: relative;
  z-index: 1;
}

#h2{
  transform: translate3d(0px, 0px, 0px);
}

#h2 video{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#brushes{
  opacity: 0;
  transition: opacity 2s;
}

.section{
  background-color: white;
  position: relative;
}

.family{
  min-height: 400px;
}

[id^='step'] input, [id^='step'] input:focus {
  border: none;
  background: transparent;
  box-shadow: none;
  border-bottom: 1px solid #dfdfdf;
  border-radius: 0px;
  padding: 0;
  font-size: 28px;
  color: #000;
}

[id^='step'] input:focus{
  border-bottom: 2px solid #000;
}

.slug-form{
  position:relative;
}

.slug-form #slug{
  position: absolute;
  top: 25px;
  padding-left: 294px;
}

#fbLogin{
  background-color: #3b5998;
  color: white;
  fill: white;
}

#fbLogin svg{
  vertical-align: middle;
}
@media (max-width: 768px) {
  [id^='step'] input, [id^='step'] input:focus {
    font-size: 18px;
  }

  [id^='step']{
    padding: 10px;
  }

  .slug-form #slug{
    padding-left: 198px;
  }
}
